human_genome/
files/protein
files/rna
__pycache__/
human_genome_protein/
human_genome_rna/
human_genome_coding_sequences/
human_genome_rna_1/
human_genome_rna_2/
human_genome_rna_3/
human_genome_rna_4/
human_genome_rna_5/
human_genome_rna_6/
human_genome_rna_7/
human_genome_rna_8/
human_genome_rna_9/
human_genome_rna_10/
human_genome_protein_coding_sequence_1/
human_genome_protein_coding_sequence_2/
human_genome_protein_coding_sequence_3/
human_genome_protein_coding_sequence_4/
human_genome_protein_coding_sequence_5/
human_genome_protein_coding_sequence_6/
human_genome_protein_coding_sequence_7/
human_genome_protein_coding_sequence_8/